.holder {
  display: flex;
  justify-content: center; /* Centers the child elements horizontally */
  align-items: center; /* Centers the child elements vertically */
}

.item-1 {
  /* Specify that this element should take up the entire width of the container */
  width: 100%;
  text-align: center; /* Center the contents of the element */
}
